.register_container{
  width: 400px;
  height: 450px;
  background-color: #4A55A2;
  position: absolute;
  top: 30%;
  left: 10%;
  border-radius: 10px;
}
.register_username{
  position: absolute;
  top: 25%;
  left: 28%;
  border-radius: 5px;
  border: 1px solid white;
  height: 20px;
  padding-left: 5px;
}
.register_password{
  position: absolute;
  top: 35%;
  left: 28%;
  border-radius: 5px;
  border: 1px solid white;
  height: 20px;
  padding-left: 5px;
}
.register_dateofbirth{
  position: absolute;
  top: 65%;
  left: 28%;
  border-radius: 5px;
  border: 1px solid white;
  height: 20px;
  padding-left: 5px;
}
.register_socialid{
  position: absolute;
  top: 45%;
  left: 28%;
  border-radius: 5px;
  border: 1px solid white;
  height: 20px;
  padding-left: 5px;
}
.register_address{
  position: absolute;
  top: 55%;
  left: 28%;
  border-radius: 5px;
  border: 1px solid white;
  height: 20px;
  padding-left: 5px;
}
.register_button{
  color: grey;
  position: absolute;
  top: 77%;
  left: 35%;
  border-radius: 5px;
  border: 1px solid white;
  width: 80px;
  height: 30px;
}

.register_button:hover{
  cursor:pointer;
  font-weight: bold;
}
