<div class="register_container">
  <div>
    <input class="register_username" type="text" placeholder="username" >
  </div>
  <div>
    <input class="register_password" type="password" placeholder="password">
  </div>
  <div>
    <input class="register_dateofbirth" type="date">
  </div>
  <div>
    <input class="register_socialid" type="text" placeholder="social security no">
  </div>
  <div>
    <input class="register_address" type="text" placeholder="address">
  </div>
  <div>
    <button class="register_button">Register</button>
  </div>

</div>
